In [2]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer

In [4]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [5]:
import nltk
nltk.download("punkt")
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     /home/navarra/snap/jupyter/6/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/navarra/snap/jupyter/6/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /home/navarra/snap/jupyter/6/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [6]:
nltk.download("averaged_perceptron_tagger")
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/navarra/snap/jupyter/6/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /home/navarra/snap/jupyter/6/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     /home/navarra/snap/jupyter/6/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [7]:
f = open("data.txt", "r", encoding = 'latin-1')
text = f.read()

In [8]:
text[:1000]

"The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.  You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]\n\n\n\n\n\n\nMAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nAUTHOR OF\n\nJUDITH OF BLUE LAKE RANCH, THE BELLS OF SAN JUAN, SIX FEET FOUR, ETC.\n\n\n\n\nILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGROSSET & DUNLAP\n\nPUBLISHERS -------- NEW YORK\n\n\n\n\nCOPYRIGHT, 1920, BY\n\nCHARLES SCRIBNER'S SONS\n\n\nPublished October, 1920\n\n\n\n\nCONTENTS\n\n\nCHAPTER\n\n     I. STEVE DIVES INTO DEEP WATERS\n    II. MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n "

### 1

In [9]:
a = text.split()

In [10]:
len(a)

78078

In [14]:
a[:5]

['The', 'Project', 'Gutenberg', 'EBook', 'of']

### 2

In [11]:
b = text.split('\n')

In [13]:
len(b)

9770

In [12]:
b[:5]

['The Project Gutenberg EBook of Man to Man, by Jackson Gregory',
 '',
 'This eBook is for the use of anyone anywhere at no cost and with',
 'almost no restrictions whatsoever.  You may copy it, give it away or',
 're-use it under the terms of the Project Gutenberg License included']

### 3

In [18]:
sent_tokens = sent_tokenize(text)

In [19]:
len(sent_tokens)

5560

In [20]:
sent_tokens[:5]

['The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.',
 'You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.org\n\n\nTitle: Man to Man\n\nAuthor: Jackson Gregory\n\nRelease Date: July 29, 2006 [EBook #18933]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK MAN TO MAN ***\n\n\n\n\nProduced by Al Haines\n\n\n\n\n\n\n\n\n\n\n[Frontispiece: The blazing heat was such that men and horses and steers\nsuffered terribly.]',
 'MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nAUTHOR OF\n\nJUDITH OF BLUE LAKE RANCH, THE BELLS OF SAN JUAN, SIX FEET FOUR, ETC.',
 "ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGROSSET & DUNLAP\n\nPUBLISHERS -------- NEW YORK\n\n\n\n\nCOPYRIGHT, 1920, BY\n\nCHARLES SCRIBNER'S SONS\n\n\nPublished October, 1920\n\n\n\n\nCONTENTS\n\n\nCHAPTER\n\n     I. STEVE DIVES INTO DEEP WATERS\n    II.",
 "MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n   III."]

### Creating DataFrame

In [21]:
df = pd.DataFrame({'sentences' : sent_tokens})

In [22]:
df.head()

                                           sentences
0  The Project Gutenberg EBook of Man to Man, by ...
1  You may copy it, give it away or\nre-use it un...
2  MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...
3  ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...
4     MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n   III.

In [23]:
df.shape

(5560, 1)

### Creating a Function for NLP Cleaning

In [24]:
stop_words = stopwords.words('english')
lem = WordNetLemmatizer()

In [29]:
def cleaning(data):
    
    text_tokens = word_tokenize(data.lower())
    
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    tokens_without_sw = [w for w in tokens_without_punc if w not in stop_words]
    
    text_cleaned = [lem.lemmatize(t) for t in tokens_without_sw]
    
    return ' '.join(text_cleaned)

### Apply this function to df

In [30]:
df['sentences_2'] = df['sentences'].apply(cleaning)

In [31]:
df.head()

,sentences,sentences_2
0,"The Project Gutenberg EBook of Man to Man, by ...",project gutenberg ebook man man jackson gregor...
1,"You may copy it, give it away or\nre-use it un...",may copy give away term project gutenberg lice...
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,man man jackson gregory author judith blue lak...
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,illustrated shepherd grosset dunlap publisher ...
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,miss blue cloak know beat iii

In [32]:
df['sentences'][0]

'The Project Gutenberg EBook of Man to Man, by Jackson Gregory\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.'

In [35]:
df['sentences_2'][0]

'project gutenberg ebook man man jackson gregory ebook use anyone anywhere cost almost restriction whatsoever'

### PoST

In [55]:
def cleaning_2(data):
    
    text_tokens = word_tokenize(data.lower())
    
    tokens_without_punc = [w for w in text_tokens if w.isalpha()]
    
    tokens_without_sw = [w for w in tokens_without_punc if w not in stop_words]
    
    text_cleaned = [lem.lemmatize(t) for t in tokens_without_sw]
    
    return text_cleaned

In [56]:
df['sentences_3'] = df['sentences'].apply(cleaning_2)

In [57]:
df['sentences_4'] = df['sentences_3'].apply(lambda x : nltk.pos_tag(x))

In [58]:
df.head()

,sentences,sentences_2,sentences_3,sentences_4
0,"The Project Gutenberg EBook of Man to Man, by ...",project gutenberg ebook man man jackson gregor...,"[project, gutenberg, ebook, man, man, jackson,...","[(project, NN), (gutenberg, NN), (ebook, NN), ..."
1,"You may copy it, give it away or\nre-use it un...",may copy give away term project gutenberg lice...,"[may, copy, give, away, term, project, gutenbe...","[(may, MD), (copy, VB), (give, VB), (away, RP)..."
2,MAN TO MAN\n\n\nBY\n\nJACKSON GREGORY\n\n\n\nA...,man man jackson gregory author judith blue lak...,"[man, man, jackson, gregory, author, judith, b...","[(man, NN), (man, NN), (jackson, NN), (gregory..."
3,ILLUSTRATED BY\n\nJ. G. SHEPHERD\n\n\n\n\n\nGR...,illustrated shepherd grosset dunlap publisher ...,"[illustrated, shepherd, grosset, dunlap, publi...","[(illustrated, VBN), (shepherd, JJ), (grosset,..."
4,MISS BLUE CLOAK KNOWS WHEN SHE'S BEAT\n III.,miss blue cloak know beat iii,"[miss, blue, cloak, know, beat, iii]","[(miss, JJ), (blue, JJ), (cloak, NN), (know, V..."

# Vectorization

### Count Vectorization

In [60]:
# Apply to series not to df directly

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [62]:
X_train = df['sentences_2']

In [63]:
vectorizer = CountVectorizer().fit(X_train)

In [64]:
vectorizer.get_feature_names()[:5]

['aback', 'abandoned', 'abide', 'abiding', 'ability']

In [66]:
len(vectorizer.get_feature_names())

5974

In [68]:
X_train_count = vectorizer.transform(X_train)

In [69]:
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [70]:
a = pd.DataFrame(X_train_count.toarray())

In [71]:
a.head()

,0,1,2,3,4,5,6,7,8,9,...,5964,5965,5966,5967,5968,5969,5970,5971,5972,5973
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
a.shape

(5560, 5974)

## Tf-idf Vectorizer

In [74]:
tf_idf_vectorizer = TfidfVectorizer().fit(X_train)

In [76]:
X_train_tf_idf = tf_idf_vectorizer.transform(X_train)

In [78]:
X_train_tf_idf.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [79]:
b = pd.DataFrame(X_train_tf_idf.toarray())

In [80]:
b.head()

,0,1,2,3,4,5,6,7,8,9,...,5964,5965,5966,5967,5968,5969,5970,5971,5972,5973
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.242012,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
b.shape

(5560, 5974)